@import "~reset-css/reset.css";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

#main {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

[v-cloak] {
  display: none;
}
